* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
}

h1 {
    margin-top: 30px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #21222A;
    width: 560;
    height: 91;
}
nav{
    display: flex;
    align-items: center;
    height: 100%;
}


header{
    height: 90px;
    background-color: #21222A;
    padding: 30px 25px;
}
nav > img{
    width: 40px;
    margin-right: 7px;
}
nav > span{
    color: #61DAFB; 
    font-size:1.4rem;
    font-weight: 700;
}

main > h1{ margin-top: 50px;
    margin: 10;

}

.list{
    width: 390px;
    height: 190px;
    margin-top: 46px;
    margin-left: 54px;
    font-family: Inter;
    font-weight: 400px;
    font-size: 16px;
}
.list>li{
    padding-block: 10px;
    line-height: 19px;
}

.list>li::marker{
    font-size: 1.5rem;
    color:#61DAFB
}

main{
    background-image: url(/images/react-half.png);
    background-repeat: no-repeat;
    background-position: right 65%;

}
