* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
}

h1 {
    margin-top: 30px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #21222A;
    width: 550;
    height: 91;
}
nav{
    display: flex;
    align-items: center;
    height: 100%;
}
body{
    margin: 0;
    font-family: Inter,sans-serif;
}

header{
    height: 90px;
    background-color: #21222A;
    padding: 30px 25px;
}
nav > img{
    width: 40px;
    margin-right: 7px;
}
nav > span{
    color: #61DAFB; 
    font-size:1.4rem;
    font-weight: 700;
}